<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tax Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Tax Calculator</h2>

        <label>Annual Income (After CTC, Before Standard Deduction):</label><br>
        <input type="number" id="income" required><br>

        <label>Age:</label><br>
        <input type="number" id="age" required><br>

        <button onclick="calculateTax()">Calculate Tax</button>

        <div class="result">
            <p id="taxable_income"></p>
            <p id="final_tax"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>